In [10]:
import pandas as pd

data = pd.read_csv(r"C:\Users\ADMIN\Downloads\archive (2)\IMDb Movies India.csv", encoding="latin1")

data.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [3]:
data.columns

data.isnull().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [6]:
data.columns.tolist()

data['Actors'] = data['Actor 1'] + ', ' + data['Actor 2'] + ', ' + data['Actor 3']

df = data[['Genre', 'Director', 'Actors', 'Rating']].copy()

df.dropna(subset=['Rating'], inplace=True)

df.fillna({'Genre': 'Unknown', 'Director': 'Unknown', 'Actors': 'Unknown'}, inplace=True)

df.head()

,Genre,Director,Actors,Rating
1,Drama,Gaurav Bakshi,"Rasika Dugal, Vivek Ghamande, Arvind Jangid",7.0
3,"Comedy, Romance",Ovais Khan,"Prateik, Ishita Raj, Siddhant Kapoor",4.4
5,"Comedy, Drama, Musical",Rahul Rawail,"Bobby Deol, Aishwarya Rai Bachchan, Shammi Kapoor",4.7
6,"Drama, Romance, War",Shoojit Sircar,"Jimmy Sheirgill, Minissha Lamba, Yashpal Sharma",7.4
8,"Horror, Mystery, Thriller",Allyson Patel,"Yash Dave, Muntazir Ahmad, Kiran Bhatia",5.6

In [7]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

df['Genre'] = encoder.fit_transform(df['Genre'])
df['Director'] = encoder.fit_transform(df['Director'])
df['Actors'] = encoder.fit_transform(df['Actors'])

df.head()

   Genre  Director  Actors  Rating
1    268       811    5274     7.0
3    207      1749    4540     4.4
5    177      2005    1459     4.7
6    331      2643    2800     7.4
8    367       174    7484     5.6

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

X = df[['Genre', 'Director', 'Actors']]
y = df['Rating']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse:.2f}")

Mean Squared Error: 1.81

In [13]:
sample_movie = [[1, 174, 2800]]  
predicted_rating = model.predict(sample_movie)

print(f"Predicted Rating: {predicted_rating[0]:.2f}")

Predicted Rating: 5.57

C:\Users\ADMIN\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(